.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 0.75s linear;
  height: 80px;
  animation-iteration-count: 3;
}

.App-logo:hover {
  animation: App-logo-spin infinite 0.75s linear;
  height: 80px;
  animation-iteration-count: 1;
}

.App-header {
  background-color: #222;

  /*border: 3px solid rgba(255,188,51,1);*/
  height: 150px;
  padding: 20px;
  color: #fff;
}

.App-title {
  font-size: 1.5em;
  margin-top: 0.5rem;
}

.App-intro {
  font-size: large;
}

.App-summary {
  max-width: 400px;
  text-align: justify;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 16px;
  letter-spacing: 1.1;
}

@keyframes App-logo-spin {
  0% {
    left: 0%;
    transform: rotate(0deg);
  }
  50% {
    left: 100%;
    transform: rotate(0deg);
  }
  52% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(180deg);
  }
  100% {
    left: 50%;
    transform: rotate(360deg);
  }
}

.zombie-img {
  margin-top: 25px;
  max-width: 275px;
  border-radius: 15px;
}
.dashboard-img {
  width: 100%;
  border-radius: 15px;
}
.zombie-table-img {
  max-width: 720px;
  border-radius: 15px;
}

th,
td {
  padding-left: 0.5rem;
}

table {
  margin: 1rem auto 2rem auto;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 5px;
}

.dead,
.walker,
.bitten,
.human {
  background-color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 100px;
  text-align: center;
}

.dead {
  border: 2px solid black;
}

.walker {
  border: 2px solid red;
}

.bitten {
  border: 2px solid #aaaf6b;
}

.human {
  border: 2px solid green;
}

.table-container {
  overflow-x: auto;
}

.table-body-row {
  border-top: 0.1px solid gray;
  border-bottom: 0.1px solid gray;
}

thead {
  border-bottom: 2px solid gray;
  background-color: #f2f2f2;
  font-size: 120%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.age {
  width: 100px;
}

.name {
  width: 250px;
}

h2 {
  margin-top: 3rem;
  font-size: 140%;
}

p {
  font-size: 115%;
}