fieldset {
  border: 0 none;
}

.form-container{
  text-align: left;
  font-size:115%;
  margin-left: 3rem;
}

.form-container, p {
  margin-top: 1rem;
}

label {
  font-size: 115%;
}

select {
  margin-left: 0.5rem;
  font-size: 105%;
}
