.mapboxgl-missing-css {
  display: none;
}

.container {
  position: absolute;
  top: 940px;
  width: 100vw;
  height: 500px;
  margin-left: 50px;
  margin-bottom: 25px;
}

.marker {
  background-size: cover;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.marker.dead {
  background-color: black;
}

.marker.walker {
  background-color: red;
}

.marker.bitten {
  background-color: #AAAF6B;
}

.marker.human {
  background-color: green;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

.hidden {
  display: none;
}